.courseCard {
	margin-bottom: 10px;
	background-color: #DFE6E9;
	padding: 10px 20px 10px 20px;
	border-radius: 8px;
	max-width: 11.5vw;
	min-width: 11.5vw;
	cursor: pointer;
}

.courseName {
	text-align: center;
	color: #222F3E;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.3vw;
	font-weight: 400;
}

.selectedCourse {
	background-color: #26DE81;
}