#wheel {
	justify-content: center;
	align-items: center;
}

.wheelComponent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#wheelCanvas {
	width: 31vw;
}

.wheelSettings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	bottom: 7vh;
}

.winner {
	margin-bottom: 2vh;
	font-size: 1.7vw;
	color: #26DE81; 
}