.confetti {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	align-content: center;
}

#c1 {
	margin-left: 300px;
}

#c2 {
	margin-left: 300px;
}

#c2 {
	margin-right: 300px;
}

.main-container {
	display: flex;
	margin-top: 50px;
}

.container {
	background: #2C3E50;
	border-radius: 16px;
	justify-content: center;
	align-items: center;
}

.wheel-container {
	margin-left: 80px;
	height: 600px;
}

/* Responsive Width Elements */

@media screen and (min-width: 2000px) {
	.wheel-container {
		margin-left: 150px;
		width: 625px;
	}
}

@media screen and (max-width: 1920px) {
	.wheel-container {
		width: 600px;
		margin-left: 100px;
	}

	.container {
		margin-right: 100px;
	}

	.student-container {
		width: 450px;
	}

	.class-container {
		width: 400px;
	}
}

@media screen and (max-width: 1300px) {
	.wheel-container {
		margin-left: 80px;
		width: 406px;
	}
}

@media screen and (max-width: 900px) {
	.wheel-container {
		margin-left: 50px;
		width: 281px;
	}
}

@media screen and (max-width: 700px) {
	.wheel-container {
		margin-left: 30px;
		width: 218px;
	}
}

@media screen and (max-width: 500px) {
	.wheel-container {
		margin-left: 25px;
		width: 156px;
	}
}

/* Responsive Height Elements */

@media screen and (min-height: 3500px) {
	.wheel-container {
		height: 2450px;
	}
}

@media screen and (max-height: 3250px) {
	.wheel-container {
		height: 2275px;
	}
}

@media screen and (max-height: 3000px) {
	.wheel-container {
		height: 2100px;
	}
}

@media screen and (max-height: 2750px) {
	.wheel-container {
		height: 1925px;
	}
}

@media screen and (max-height: 2500px) {
	.wheel-container {
		height: 1750px;
	}
}

@media screen and (max-height: 2250px) {
	.wheel-container {
		height: 1575px;
	}
}

@media screen and (max-height: 2000px) {
	.wheel-container {
		height: 1400px;
	}
}

@media screen and (max-height: 1800px) {	
	.wheel-container {
		height: 1260px;
	}
}

@media screen and (max-height: 1600px) {	
	.wheel-container {
		height: 1120px;
	}
}

@media screen and (max-height: 1500px) {	
	.wheel-container {
		height: 1050px;
	}
}

@media screen and (max-height: 1400px) {	
	.wheel-container {
		height: 980px;
	}
}

@media screen and (max-height: 1200px) {
	.main-container {
		margin-top: 100px;
	}
	
	.wheel-container {
		height: 840px;
	}
}

@media screen and (max-height: 1100px) {	
	.wheel-container {
		height: 770px;
	}
}

@media screen and (max-height: 1000px) {
	.main-container {
		margin-top: 80px;
	}
	
	.wheel-container {
		height: 700px;
	}
}

@media screen and (max-height: 900px) {	
	.wheel-container {
		height: 630px;
	}
}

@media screen and (max-height: 800px) {	
	.wheel-container {
		height: 560px;
	}

	.main-container {
		margin-top: 50px;
	}
}

@media screen and (max-height: 700px) {
	.wheel-container {
		height: 490px;
	}

	.main-container {
		margin-top: 40px;
	}
}