.main-container {
	display: flex;
	margin-top: 6.25vh;
}

.container {
	background: #2C3E50;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-right: 5.2vw;
}

.wheel-container {
	margin-left: 6vw;
	height: 70vh;
	width: 31.25vw;
}

.class-container {
	justify-content: space-around;
}

.courseCards {
	display: flex;
	flex-direction: column;
}

.studentCards {
	max-width: 650px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-heading {
	text-align: center;
	color: #26DE81;
	font-size: 28px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.btn {
	padding: 10px 45px 10px 45px;
	color: #DFE6E9;
	border-radius: 16px;
	background: linear-gradient(136.19deg, #26DE81 0%, #05C46B 100%);
	font-size: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

.successGradient {
	background: linear-gradient(136.19deg, #26DE81 0%, #05C46B 100%);
}

.successGradient:hover {
	background: linear-gradient(136.19deg, #05C46B 0%, #26DE81 100%);
}

.failGradient {
	background: linear-gradient(136.19deg, #FF416C 0%, #FF4B2B 100%);
}

.failGradient:hover {
	background: linear-gradient(136.19deg, #FF4B2B 0%, #FF416C 100%);
}

.listControls .btn {
	padding: 8px 30px 8px 30px;
	margin-bottom: 10px;
}

.listControls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pagination {
	color: #26DE81;
	display: inline;
	cursor: pointer;
}

.student-container {
	max-width: 50vw;
	width: 50vw;
}

.class-container {
	width: 30vw;
}