#wheel {
	justify-content: center;
	align-items: center;
}

.wheel-component {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#wheelCanvas {
	width: 31.25vw;
}