#wheel {
	justify-content: center;
	align-items: center;
}

.wheel-component {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Responsive Width Elements */

@media screen and (min-width: 3500px) {
	#wheelCanvas {
		width: 1094px;
	}
}

@media screen and (max-width: 3250px) {
	#wheelCanvas {
		width: 1015px;
	}
}

@media screen and (max-width: 3000px) {
	#wheelCanvas {
		width: 938px;
	}
}

@media screen and (max-width: 2750px) {
	#wheelCanvas {
		width: 859px;
	}
}

@media screen and (max-width: 2500px) {
	#wheelCanvas {
		width: 781px;
	}
}

@media screen and (max-width: 2250px) {
	#wheelCanvas {
		width: 703px;
	}
}

@media screen and (min-width: 2000px) {
	#wheelCanvas {
		width: 625px;
	}
}

@media screen and (max-width: 1920px) {
	#wheelCanvas {
		width: 600px;
	}
}

@media screen and (max-width: 1800px) {
	#wheelCanvas {
		width: 562px;
	}
}

@media screen and (max-width: 1600px) {
	#wheelCanvas {
		width: 500px;
	}
}

@media screen and (max-width: 1500px) {
	#wheelCanvas {
		width: 468px;
	}
}

@media screen and (max-width: 1400px) {
	#wheelCanvas {
		width: 420px;
	}
}

@media screen and (max-width: 1300px) {
	#wheelCanvas {
		width: 406px;
	}
}

@media screen and (max-width: 900px) {
	#wheelCanvas {
		width: 281px;
	}
}

@media screen and (max-width: 700px) {
	#wheelCanvas {
		width: 218px;
	}
}

@media screen and (max-width: 500px) {
	#wheelCanvas {
		width: 156px;
	}
}