@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

#navbar {
	background: linear-gradient(90deg, #26DE81 0%, #05C46B 100%);
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 10vh;
	width: 100vw;
	padding-right: 100vw;
}

.logo {
	color: #222F3E;
	font-weight: 400;
	cursor: pointer;
	margin-left: 6vw;
	font-size: 3vw;
}

.loginContainer {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.credits {
	font-weight: 400;
	text-align: center;
	background-attachment: scroll;
	background-position: 0% 0%;
	position: fixed;
	bottom: 0pt;
	font-size: 1.8vw;
	background-color: #26DE81;
	color: #222F3E;
	border-top-right-radius: 6px;
	padding: 1vh;
	cursor: pointer;
}

.link {
	font-weight: 400;
	color: #3498DB;
}